<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href=" {% url 'photo_list' %} ">사진 목록 페이지</a></h1>
    <div>
        <section>
            <h2>New Photo</h2>
            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit">완료</button>
            </form>
        </section>
    </div>
</body>
</html>